html{
    user-select: none;
    scroll-behavior: smooth;
}body{
    min-height: 100vh;
    background: linear-gradient(lightgray, lightblue, blue, darkblue);
}:focus{
    outline: none;
}

nav{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: #252525;
    overflow: hidden;
    flex-wrap: nowrap;
    position: sticky;
    top: 10px;
    box-shadow: 0 0 5px #252525;
    margin-bottom: 10px;
    z-index: 999;
}nav .nav-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    width: min(200px, 50vw);
    flex-wrap: nowrap;
}nav .nav-btn a img{
    width: min(32px, 10vw);
}nav p{
    font-weight: bold;
    font-size: min(2.25rem, 5vw);
    margin: 0;
    color: lightskyblue;
    text-shadow: 0 0 5px black;
    margin-left: 10px;
    font-style: italic;
}nav .nav-btn a:hover{
    scale: 1.25;
    border-radius: 50%;
    background: lightskyblue;
}nav .nav-btn a{
    transition: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
    border-radius: 50%;
    padding: 5px;
    width: auto;
}

main{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: calc(100vh - 22vh);
    border: none;
    background: url("bgBlue1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 5px black;
}main img{
    width: min(400px, 35vw);
    border: none;
    filter: drop-shadow(0 -4px 0 powderblue);
}main .p p{
    margin: 0;
    color: white;
    font-size: min(1.5rem, 3vw);
    color: lightgray;
}main .p .p2{
    font-size: min(2.5rem, 4vw);
    color: lightskyblue;
    font-weight: bold;
    border: none;
}

.project{
    justify-content: space-around;
    align-items: center;
    display: flex;
    border: none;
    padding: 10px;
    background: url("bgBlue2.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    gap: 10px;
    height: calc(100vh - 22vh);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}.project .projects{
    border: none;
    height: min(300px, 80vw);
    width: min(300px, 80vw);
    padding: 10px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    border-radius: 10px;
    flex-wrap: nowrap;
    transition: .25s;
    box-shadow: 0 0 3px black;
}.project #project1{
    background: url("Xoxs.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}.project #project2{
    background: url("Drumkits.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}.project #project3{
    background: url("Bmis.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}.project .projects p{
    padding: 10px;
    background: royalblue;
    border-radius: 25px;
    color: white;
    font-size: min(1em, 5vw);
}.project .projects:hover{
    scale: .90;
    box-shadow: 0 0 5px black, inset 0 0 5px black;
    filter: grayscale(50%);
}

.contact{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('bgBlue1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}.contact .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    width: min(300px, 50vw);
    padding: 10px;
    border-radius: 25px;
    transition: .25s;
    box-shadow: 0 0 3px black;
}.contact .contacts img{
    width: min(64px, 10vw);
    filter: drop-shadow(0 0 3px black);
}.contact .contacts label{
    color: white;
    text-shadow: 0 0 3px black;
    font-size: min(1em, 5vw);
}.contact .contacts:hover{
    scale: 1.10;
    background: aqua;
}

.skill{
    border: none;
    height: calc(100vh - 22vh);
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    display: flex;
    background: url("bgBlue1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px black;
}.skill .skills{
    width: min(300px, 80vw);
    height: min(300px, 80vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}.skill #skill1{
    background: url("Ux.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}.skill .skills p{
    font-weight: bold;
    color: lime;
    text-shadow: 0 0 5px black;
}.skill #skill2{
    background: url("Ui.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}.skill #skill3{
    background: url("5dc4ed3db89805bc25270d9c2ff38ad5.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

footer{
    padding: 10px;
    color: greenyellow;
    text-align: center;
    background: #252525;
    border-radius: 50px;
    box-shadow: 0 0 5px black;
}
