@media(max-width: 721px){
    
    main{
        height: auto;
    }
    
    main img{
        filter: drop-shadow(0 -2px 0 powderblue);
    }
    
    .project{
        flex-direction: column;
        height: auto;
    }
    
    .contact{
        height: auto
    }
    
    .skill{
        height: auto;
        flex-direction: column;
    }
    
}