html{
   user-select: none;
   scroll-behavior: smooth;
   background-position: center center;
   background-size: cover;
}*{
   font-family: sans-serif;
   padding: 0;
   margin: 0;
}body{
   min-height: 100vh;
   background: linear-gradient(whitesmoke, lightgray, gray, darkgray, black);
   width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    bottom: 10px;
    border-radius: 10px;
    background: #202020;
    z-index: 999;
    height: auto;
    box-shadow: 0 0 3px lightgray;
    margin: 10px;
}nav h2{
    margin-left: 5px;
    color: royalblue;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-style: italic;
    font-size: min(1em, 5vw);
    text-align: center;
    text-shadow: 0 0 4px royalblue;
}nav #navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}nav #navbar a{
    font-size: min(.75em, 3vw);
    text-decoration: none;
    color: black;
    text-shadow: 0 0 3px #505050;
    background: rgb(255,255,256, .25);
    transition: .5s;
    padding: 5px;
    margin: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}nav #navbar a img{
    width: 25px;
    height: 25px;
}nav #navbar a:hover{
    font-weight: bold;
    background: royalblue;
    scale: 1.25;
    color: whitesmoke;
}nav button{
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    color: #181818;
    background: whitesmoke;
    padding: 5px;
}

.home{
    display: flex;
    background: url("bgBlue2.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: calc(100vh - 17.5vh);
    margin: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}.home .image{
    width: min(300px, 50vw);
    filter: drop-shadow(2px 0 0 whitesmoke) drop-shadow(0 -2px 0 whitesmoke) drop-shadow(-2px 0 0  whitesmoke);
}.home div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.home div .p1{
    font-style: italic;
    color: aliceblue;
    font-size: min(1em, 4vw);
}.home div .p2{
    color: royalblue;
    margin: 5px;
    font-size: min(1.5em, 10vw);
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 0 0 4px royalblue;
}.home div .p3{
    color: yellowgreen;
    font-size: min(1em, 5vw);
}

.project{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: url("bgDark3.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 17.5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    height: calc(auto - 17.5vh);
}.project img{
    width: 93.5%;
    box-shadow: 0 0 5px #181818;
    margin: 10px;
    border-radius: 10px;
}.project .projects{
    height: min(400px, 100vh);
    width: min(300px, 100vw);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, transparent, rgb(255,255,255,0.25));
    padding: 5px;
}.project .projects p{
    text-align: center;
    color: #181818;
    background: radial-gradient(whitesmoke, transparent);
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 5px #181818;
    border: 2px solid whitesmoke;
    padding: 5px;
    font-size: min(1em, 5vw);
    word-wrap: break-word;
}.project .projects a{
text-decoration: none;
    background: #181818;
    margin: 5px;
    height: 2em;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    width: min(5em, 100vw);
    font-size: min(1em, 5vw);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}.project .projects a:hover{
    background: royalblue;
    width: 6.5em;
}

.contact{
    height: auto;
    background: url("bgDark1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}.contact .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
}.contact .contacts img{
    width: 25px;
}.contact .contacts a{
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: min(13em ,100vw);
    font-size: min(.9em, 5vw);
    transition: .5s;
}.contact .contacts a:hover{
    background: royalblue;
    border: 2px solid royalblue;
}

.skill{
    height: auto;
    background: url("bgDark1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}.skill .skills .label{
    color: whitesmoke;
    text-align: center;
    font-size: min(.9em, 5vw);
    margin-top: 10px;
    font-weight: bold;
}.skill .skills .percent{
    width: min(15em, 50vw);
    height: 25px;
    background: lightgray;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}.skill .skills .result1{
    position: absolute;
    height: 100%;
    width: 91%;
    background: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: min(1em, 4vw);
}.skill .skills .result2{
    position: absolute;
    height: 100%;
    width: 82%;
    background: royalblue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: min(1em, 4vw);
}.skill .skills .result3{
    position: absolute;
    height: 100%;
    width: 56%;
    background: yellow;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    font-size: min(1em, 4vw);
}

footer{
    margin: 10px;
    padding: 10px;
    background: #181818;
    color: lightgreen;
    border-radius: 10px;
    text-align: center;
    font-size: min(1em, 4vw);
}
